CONEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here
STRIPE_SECRET_KEY=sk_test_your_key_here
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=re_your_key_here
CONTACT_EMAIL=info@gracechurch.org
GOOGLE_CALENDAR_API_KEY=AIzaSyBpTDRv9edirMWKi3B3CWVRM-C5_3noqDg
